* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#d3d3d3, #a483ae);
  background-repeat: no-repeat;
  /* height: 100vh; */
  /* color: #ffffff; */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px 0;
  box-shadow: 0px 0px 15px 4px #919191;
}

.heading {
  font-size: 1.8rem;
  border: #000;
}

.heading a {
  border-bottom: 2px solid transparent;
}

.heading a:hover {
  border-bottom: 2px solid #3d3d3d;
}

.heading a,
.links a {
  text-decoration: none;
  color: #3d3d3d;
}

.links a {
  padding: 0 10px;
}

hero {
  display: flex;
  align-items: center;
  height: 27.5rem;
  margin: 30px 0;
}

.content {
  padding-left: 18.5rem;
}

.firstHeading {
  font-size: 4rem;
}

.description {
  font-size: 1.5rem;
  padding: 30px 0;
}
.contact {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4645c8;
  border-bottom: 3px solid #3d3d3d;
  cursor: pointer;
  width: 26%;
}

.content strong {
  /* color: #3d3d3d; */
  color: #4645c8;
  border-bottom: 4px solid #3d3d3d;
}

.image img {
  position: absolute;
  top: 10rem;
  right: 12rem;
}

.skilles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 10rem;
  border-top: 3px solid black;
}

.skillHeading {
  font-size: 3rem;
  padding-top: 30px;
  font-weight: bold;
}

.projects {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  margin: 2rem 12rem;
}

.projectHeading {
  font-size: 3rem;
  font-weight: 600;
  padding: 15px 0;
}

.cards {
  display: flex;
}

.cards img {
  width: 100%;
}

.card {
  margin-right: 10rem;
  box-shadow: 0px 0px 5px 1px #d3d3d3;
  /* padding: 7px; */
  margin-top: 1rem;
  /* border-radius: 10px; */
  background-color: #d3d3d3;
  /* color: white; */
}

.cardHeading {
  font-size: 2rem;
  padding: 0 10px;
}

.languageUsed {
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
}

.card strong {
  padding: 10px;
}
